body {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #b5b3b3;
    color: #000033;
}
.flexbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: CENTER;
    gap: 60px;
}
.box {
    margin-top: 60PX;
    padding: 40px;
    background-color: #c7c0bf;
    font-size: 30px;
    font-weight: bold;
    border-radius: 45px;
    text-align: center;

}
.box-img {
    border-radius: 45px;
    max-width: 80%;

}
