* {
    box-sizing: border-box;

}
body {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #b5b3b3;
    color: #000033;
}
.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.box-img {
    border-radius: 45px;
    max-width: 70vw;

}